# Capstone project

## Coursera | Applied Data Science Capstone
### by Martin Kovarik

### Assignment Week3 Notebook2
Goal: **Explore and cluster the neighborhoods in Toronto.**

In [19]:
# LIBS
import pandas as pd

In [20]:
#Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [21]:
#Import the dataset created in Notebbok1
toronto = pd.read_csv('toronto.csv')
toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**1. Get the latitude and the longitude coordinates of each neighborhood using geocoder.</br>
    Optionaly: use the linked Geocoder .csv package for building a DF with coordinates for postal codes.</br>**

In [22]:
#Using the option to read the geo data from linked .csv file
postal_coord = pd.read_csv('Geospatial_Coordinates.csv')
postal_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**2. Use the Geocoder package or the csv file to create the *Demo* dataframe.</br>
Once you are able to create the *Demo* dataframe, submit a link to the new Notebook on your Github repository. (2 marks)</br>**

In [23]:
#In order to join both dataframes, we need to get 1 column with the same name
postal_coord = postal_coord.rename(columns={'Postal Code' : 'PostalCode'})
postal_coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [24]:
#Merging dataframes
toronto_geo = pd.merge(toronto,postal_coord)
toronto_geo.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

# END

In [25]:
#Exporting the dataset in order to be able to work on it in next notebook
toronto_geo.to_csv('toronto_geo.csv', index=False)